* {
    color: white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: block;
    height: 100vh;

    background-image: url(/assets/bg/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.innerBlock {
    padding: 10px;
}

.flexParent {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    height: 100px;
    padding: 50px;
}

.right {
    margin-right: auto;
}

.left {
    margin-left: auto;
}

.logo {
    font-family: winky rough;
    font-weight: 300;
}

.button {
    background-color: rgba(28, 28, 28, 0);
    border: none;

    font-family: Inconsolata;
    font-weight: 600;
    font-size: x-large;

    cursor: pointer;
}

.contact {
    background-color: rgba(28, 28, 28, 0);
    border: none;

    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
}

.contact:hover {
    color: #333;
    background-color: white;
}