* {
    color: white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: block;
    height: 100vh;

    background-image: url(/assets/bg/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.innerBlock {
    padding: 10px;
}

.flexParent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #333;
    padding: 50px;
}

.right {
    min-width: 100px;
    width: 10%;
}

.left {
    min-width: 300px;
    width: 40%;
}

.menu {
    min-width: 500px;
    width: 50%;
}

.logo {
    font-family: 'Winky Rough';
    font-weight: 300;
    font-size: 2em;
    cursor: pointer;
}

.button {
    padding-right: 1em;

    background-color: rgba(28, 28, 28, 0);
    border: none;

    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: x-large;

    cursor: pointer;
}

.contact {
    background-color: rgba(28, 28, 28, 0);

    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
}

.contact:hover {
    color: #333;
    background-color: white;
}